<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351671928055-7humo0ca70s9jttujsk9vd1t01hurhrd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351671928055-7humo0ca70s9jttujsk9vd1t01hurhrd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>351671928055-1lmr48vj6e1tr0gj7po43sccp8584lo4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDINfDJ3o0eTtV2sdfDkQLn3AFM3GYGKFo</string>
	<key>GCM_SENDER_ID</key>
	<string>351671928055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>site.gachtaxi.gachtaxiApp</string>
	<key>PROJECT_ID</key>
	<string>gachtaxi</string>
	<key>STORAGE_BUCKET</key>
	<string>gachtaxi.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351671928055:ios:592921a412c90af5763ff2</string>
</dict>
</plist>